---
- name: Deploy TeamCity Server
  hosts: teamcity-server
  tasks:
    - name: Install TeamCity server
      docker_container:
        name: teamcity-server
        image: jetbrains/teamcity-server
        state: started
        ports:
          - "8111:8111"
- name: Deploy TeamCity Agent
  hosts: teamcity-agent
  vars:
    agent_folder_path: "/home/nimda/teamcity_agent/conf"
  tasks:
    - name: Install TeamCity Agent
      block:
        - name: Ensure .kube directory exists on host
          file:
            path: /home/{{ ansible_user }}/.kube
            state: directory
            owner: "{{ ansible_user }}"
            group: "{{ ansible_user }}"
            mode: '0700'

        - name: Copy kubeconfig to host if needed
          copy:
            src: "{{ kubeconfig_src_path }}"          # путь на контроллере Ansible
            dest: /home/{{ ansible_user }}/.kube/config
            owner: "{{ ansible_user }}"
            group: "{{ ansible_user }}"
            mode: '0600'

        - name: Create Teamcity Agent folder
          ansible.builtin.file:
            path: "{{ agent_folder_path }}"
            state: directory
            mode: "0777"
        - name: Install TeamCity Agent from Docker image
          docker_container:
            name: teamcity-agent
            image: nikogorelov/my-teamcity-agent-with-kubectl-terraform:2022.10.1
            privileged: true
            state: started
            volumes:
              - "{{ agent_folder_path }}:/data/teamcity_agent/conf"
              - "/home/{{ ansible_user }}/.kube/config:/root/.kube/config:ro"
            env:
              SERVER_URL: "10.10.10.10:8111"
              DOCKER_IN_DOCKER: "start"
