# Чувствительные переменные
# token  =  ""
cloud_id  = "...1144...fe.o62" # id вашего облака. Взять в вебинтерфейсе YC
folder_id = "j41.....907.." # id вашей папки проекта в облаке. Взять в вебинтерфейсе YC
